@model IEnumerable<RetailManagementApp.Models.QueueLogViewModel>

@{
    ViewData["Title"] = "Customer Log Messages";
}

<h1>Customer Log Messages</h1>

<table class="table">
    <thead>
        <tr>
            <th>Message ID</th>
            <th>Insertion Time</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Id</td>
                <td>@log.QueueTime</td>
                <td>@log.MessageText</td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="ExportLog">
    <button type="submit" class="btn btn-primary">Export Log Report</button>
</form>
